.blog {
  padding-bottom: 9.7rem;

  .row-gap {
    row-gap: 100px;
  }

  .blog-title {
    padding: 6.7rem 0 6.9rem;
    letter-spacing: 10;
    font-family: $playfair;
    display: inline-block;
    position: relative;
  }

  .blog-title:before {
    content: "";
    position: absolute;
    width: 15%;
    bottom: 55px;
    right: 85%;
    border-bottom: 2px solid #ecd9d9;
  }

  .blog-zajedno {
    position: relative;

    @media (max-width: 576px) {
      &:first-of-type {
        margin-bottom: 10rem;
      }
    }

    @media (max-width: 768px) {
      &:last-of-type {
        margin-top: 10rem;
      }
    }

    img {
      display: block;
    }
  }

  .blog-link {
    position: absolute;
    bottom: -60px;
    background-color: #fff;
    color: #000;
    transform: translateX(8%);
    text-align: center;
    width: 80%;
    padding: 15px;

    .blog-link-p {
      font-size: 1.4rem;
      line-height: 4.6rem;
      letter-spacing: 10;
      font-family: $playfair;
      font-weight: 500;
      font-style: italic;
      color: #000;
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .blog-link-name {
      font-size: 1.6rem;
      line-height: 2.4rem;
      letter-spacing: 10%;
      font-family: $lato;
      font-weight: 500;
      letter-spacing: 10;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      @media (max-width: 1200px) {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
